{% extends 'base.html' %}
{% block title %} Dashboard{% endblock %}


{% block content %}

{% include 'account/status.html' %}



<div class="row">
	<div class="col-md-5">
		<h5>CUSTOMERS:</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="">Create Customer</a>
			<table class="table table-sm">
				<tr>

					<th>Customer</th>
					<th>Phone</th>
				</tr>
                {% for cus in customers %}
                <tr>
                <td><a class="btn btn-sm btn-info" href="{% url 'customer' cus.id %}">View</a></td>

                    <td>{{ cus.name }}</td>
                    <td>{{ cus.phone }}</td>
                </tr>
                {% endfor %}


			</table>
		</div>
	</div>

	<div class="col-md-7">
		<h5>LAST 5 ORDERS</h5>
		<hr>
		<div class="card card-body">
			<a class="btn btn-primary  btn-sm btn-block" href="{% url 'order' %}">Create Order</a>
			<table class="table table-sm">
				<tr>
					<th>Product</th>
					<th>Date Orderd</th>
					<th>Status</th>
					<th>Update</th>
					<th>Remove</th>
				</tr>
               {% for oo in orders %}
                <tr>
                    <td>{{ oo.product }}</td>
                      <td>{{ oo.date_created }}</td>
                      <td>{{oo.status }}</td>
                     <td><a href="{% url 'order_update' oo.id %}" class="btn btn-success">Update</a></td>
                      <td><a href="{% url 'order_delete' oo.id %}" class="btn btn-danger">Delete</a></td>
                </tr>
                {% endfor %}
			</table>
		</div>
	</div>

</div>
{% endblock %}